@use "general/_animation";
@use "general/_colors";
@use "general/_boundary";
@use "general/_button";
@use "components/Footer";
@use "components/Header";
@use "components/Home";
@use "components/Company";
@use "components/Task";
@use "components/Projects";
@use "components/Contact";


@font-face {
  font-family: TT Hoves;
  src: url('font/TT Hoves Pro Trial Expanded Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
}