@import "../../general/colors";
@import "../../general/text";
@import "../../general/title";


.task {
  margin-top: 150px;
}

.task-title {
  @include Title();
  margin-bottom: 60px;
}

.task-box {
  display: flex;
  justify-content: space-between;
}

.box {
  display: flex;
  align-items: center;
  max-width: 500px;
}

.task-box-number {
  @include Title(200px,900,20px, $gray-trans);
  margin-right: 30px;
}

.task-text {
  @include Text( 22px,400,36px);
}
