section {
  animation: fade 3s linear both;
  animation-timeline: view();
  animation-range: entry 50% cover 50%;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.boundary {
  max-width: 1170px;
  margin: 0 auto;
}

.footer {
  background-color: #2C2C2C;
  margin-top: 120px;
}

.footer-title {
  font-family: TT Hoves;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.92px;
  text-align: left;
  color: #FFFFFF;
  margin-bottom: 25px;
}

.footer-general {
  display: flex;
  justify-content: space-between;
  padding: 58px 0;
}

.footer-information {
  display: flex;
  flex-direction: column;
}
.footer-information .list {
  list-style: none;
}
.footer-information .list-element {
  cursor: pointer;
}
.footer-information .list-element:not(:first-child) {
  margin-top: 16px;
}
.footer-information .item {
  font-family: TT Hoves;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #FFFFFF;
  letter-spacing: 0.03em;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all 0.3s;
}
.footer-information .item:hover {
  border-bottom: 1px solid #FFFFFF;
}

.footer-contacts .contact-box {
  max-width: 290px;
  display: flex;
  text-decoration: none;
  margin-top: 31px;
}
.footer-contacts .contact-box--tel {
  margin-top: 51px;
}
.footer-contacts .contact-info {
  font-family: TT Hoves;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #FFFFFF;
  letter-spacing: 0.03em;
  cursor: pointer;
  margin-left: 16px;
}

.footer-social-links .social-links {
  display: flex;
}
.footer-social-links .link {
  transition: all 0.3s;
  cursor: pointer;
}
.footer-social-links .link:not(:first-child) {
  margin-left: 40px;
}
.footer-social-links .link:hover {
  transform: scale(1.2);
}

.footer-bottom {
  border-top: 1px solid rgba(200, 200, 200, 0.5019607843);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-bottom .title {
  font-family: TT Hoves;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.92px;
  text-align: left;
  color: rgba(200, 200, 200, 0.5019607843);
  margin: 24px 0;
}

.header-top {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.5098039216);
}

.header {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  margin-right: 230px;
}

.header-list {
  display: flex;
  list-style: none;
}

.header-item:not(:last-child) {
  margin-right: 60px;
}

.header-link {
  text-decoration: none;
  font-family: TT Hoves;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  color: #333333;
  letter-spacing: 0.2em;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.3s;
  cursor: pointer;
}
.header-link:hover {
  border-bottom: 1px solid #333333;
}

.home-section {
  display: flex;
  justify-content: space-between;
}

.home-title {
  font-family: TT Hoves;
  font-size: 64px;
  font-weight: 300;
  line-height: 64px;
  text-align: left;
  color: #BDBDBD;
  margin-top: 336px;
}
.home-title--sub {
  font-family: TT Hoves;
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
  text-align: left;
  color: #333333;
}

.home-buttons {
  display: flex;
  margin-top: 90px;
}

.home-btn {
  padding: 15px;
  border: 1px solid #F2F2F2;
  background-color: #FFFFFF;
  cursor: pointer;
  transition: all 0.3s;
}
.home-btn--left {
  transform: rotate(180deg);
}
.home-btn--active {
  background-color: #F2F2F2;
}
.home-btn:hover {
  transform: scale(1.1);
}
.home-btn:not(:first-child) {
  margin-left: 16px;
}

.home-count {
  display: flex;
  margin-top: 90px;
  width: 120px;
  justify-content: space-between;
}

.count {
  font-family: TT Hoves;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #BDBDBD;
}

.count-row {
  border-bottom: 2px solid #BDBDBD;
  width: 43px;
  position: relative;
  top: 4px;
  right: -10px;
  transform: rotate(125deg);
}

.home-img-box {
  position: relative;
}

.home-img-btn {
  font-family: TT Hoves;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  color: #333333;
  border: none;
  letter-spacing: 0.2em;
  background-color: #FFFFFF;
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
  padding: 24px 60px 24px 46px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.home-img-btn:before {
  position: absolute;
  content: url("../../svgIcons/arrowBlack.svg");
  top: 20px;
  right: 34px;
  width: 20px;
  height: 20px;
  transition: all 0.3s;
}
.home-img-btn:hover {
  background-color: #F3F3F3;
}
.home-img-btn:hover:before {
  right: 25px;
}

.company {
  display: flex;
  background-color: #FBFBFB;
  padding: 30px 70px;
  max-height: 435px;
  margin-top: 120px;
  box-sizing: border-box;
}

.company-images {
  display: flex;
  flex-direction: column;
  position: relative;
}

.img:not(:first-child) {
  bottom: -70px;
  position: absolute;
}

.company-box {
  display: flex;
  margin-left: 30px;
}

.company-box-img {
  margin-top: 30px;
  margin-right: 30px;
}

.company-title {
  font-family: TT Hoves;
  font-size: 64px;
  font-weight: 300;
  line-height: 64px;
  text-align: left;
  color: #BDBDBD;
  margin-bottom: 20px;
}

.company-text {
  font-family: TT Hoves;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  text-align: left;
  color: #333333;
  margin-bottom: 80px;
}

.company-btn {
  font-family: TT Hoves;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  color: #333333;
  border: none;
  letter-spacing: 0.2em;
  background-color: #FFFFFF;
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
  padding: 24px 60px 24px 46px;
}
.company-btn:before {
  position: absolute;
  content: url("../../svgIcons/arrowBlack.svg");
  top: 20px;
  right: 34px;
  width: 20px;
  height: 20px;
  transition: all 0.3s;
}
.company-btn:hover {
  background-color: #F3F3F3;
}
.company-btn:hover:before {
  right: 25px;
}

.task {
  margin-top: 150px;
}

.task-title {
  font-family: TT Hoves;
  font-size: 64px;
  font-weight: 300;
  line-height: 64px;
  text-align: left;
  color: #BDBDBD;
  margin-bottom: 60px;
}

.task-box {
  display: flex;
  justify-content: space-between;
}

.box {
  display: flex;
  align-items: center;
  max-width: 500px;
}

.task-box-number {
  font-family: TT Hoves;
  font-size: 200px;
  font-weight: 900;
  line-height: 20px;
  text-align: left;
  color: #F2F2F2;
  margin-right: 30px;
}

.task-text {
  font-family: TT Hoves;
  font-size: 22px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  color: #333333;
}

.projects {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
}

.projects-title {
  font-family: TT Hoves;
  font-size: 64px;
  font-weight: 300;
  line-height: 64px;
  text-align: left;
  color: #BDBDBD;
  margin-bottom: 60px;
}

.projects-box {
  display: flex;
  gap: 30px;
}
.projects-box:not(:last-child) {
  margin-bottom: 30px;
}

.projects-center-box {
  position: relative;
}

.projects-center {
  width: 570px;
  height: 255px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(51, 51, 51, 0.6784313725);
  padding: 48px 59px;
  box-sizing: border-box;
}

.projects-center-title {
  font-family: TT Hoves;
  font-size: 64px;
  font-weight: 300;
  line-height: 64px;
  text-align: left;
  color: #BDBDBD;
  color: #FFFFFF;
  max-width: 400px;
  margin-bottom: 16px;
}

.projects-center-link {
  font-family: TT Hoves;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  color: #FFFFFF;
  position: relative;
  cursor: pointer;
  padding-right: 30px;
  transition: all 0.3s;
}
.projects-center-link:before {
  position: absolute;
  content: url("svgIcons/arrow.svg");
  width: 24px;
  height: 24px;
  top: -3px;
  right: 0;
}
.projects-center-link:hover {
  transform: scale(1.2);
}

.projects-btn {
  font-family: TT Hoves;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  color: #FFFFFF;
  border: none;
  letter-spacing: 0.2em;
  background-color: #333333;
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
  padding: 24px 60px 24px 46px;
  align-self: end;
  margin-top: 30px;
}
.projects-btn:before {
  position: absolute;
  content: url("../../svgIcons/arrow.svg");
  top: 20px;
  right: 34px;
  width: 20px;
  height: 20px;
  transition: all 0.3s;
}
.projects-btn:hover:before {
  right: 25px;
}
.projects-btn:hover {
  background-color: #2C2C2C;
}

.contact {
  padding-top: 120px;
}

.contact-title {
  font-family: TT Hoves;
  font-size: 64px;
  font-weight: 300;
  line-height: 64px;
  text-align: left;
  color: #BDBDBD;
  margin-bottom: 22px;
}

.contact-us {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.company-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.company-input {
  background-color: #F3F3F3;
  color: #8D8D8D;
  border: none;
  padding: 14px 21px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.contact-message {
  margin-left: 40px;
  font-family: TT Hoves;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.43px;
  text-align: left;
  color: #333333;
  letter-spacing: 0.03em;
  max-width: 330px;
  margin-top: 12px;
  margin-bottom: 22px;
}

.company-btn {
  font-family: TT Hoves;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  color: #FFFFFF;
  border: none;
  letter-spacing: 0.2em;
  background-color: #333333;
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
  padding: 24px 60px 24px 46px;
}
.company-btn:before {
  position: absolute;
  content: url("../../svgIcons/arrow.svg");
  top: 20px;
  right: 34px;
  width: 20px;
  height: 20px;
  transition: all 0.3s;
}
.company-btn:hover:before {
  right: 25px;
}
.company-btn:hover {
  background-color: #2C2C2C;
}

@font-face {
  font-family: TT Hoves;
  src: url("font/TT Hoves Pro Trial Expanded Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
}

.footer {
  background-color: black;
}

/*# sourceMappingURL=index.css.map */
