@import "../../general/colors";
@import "../../general/text";
@import "../../general/title";

.footer {
  background-color: $black-bg;
  margin-top: 120px;
}

.footer-title {
  @include Text(16px, 700, 19.92px, $white);
  margin-bottom: 25px;
}

.footer-general {
  display: flex;
  justify-content: space-between;
  padding: 58px 0;
}

.footer-information {
  display: flex;
  flex-direction: column;

  .list {
    list-style: none;
  }

  .list-element {
    cursor: pointer;

    &:not(:first-child) {
      margin-top: 16px;
    }

  }

  .item {
    @include Text(14px, 500, 24px, $white);
    letter-spacing: 0.03em;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: all 0.3s;

    &:hover {
      border-bottom: 1px solid $white;
    }
  }
}

.footer-contacts {

  .contact-box {
    max-width: 290px;
    display: flex;
    text-decoration: none;
    margin-top: 31px;

    &--tel {
      margin-top: 51px;
    }

  }

  .contact-info {
    @include Text(14px, 500, 24px, $white);
    letter-spacing: 0.03em;
    cursor: pointer;
    margin-left: 16px;
  }
}

.footer-social-links {

  .social-links {
    display: flex;
  }

  .link {
    transition: all 0.3s;
    cursor: pointer;

    &:not(:first-child) {
      margin-left: 40px;
    }

    &:hover {
      transform: scale(1.2);
    }
  }
}

.footer-bottom {
  border-top: 1px solid #C8C8C880;
  display: flex;
  justify-content: center;
  align-items: center;

  .title {
    @include Text(16px, 700, 19.92px, #C8C8C880);
    margin: 24px 0;
  }
}