@import "colors";
@import "text";

@mixin Button($bg-color: $white,$tx-color: $gray, $arrow: false) {
  @include Text(12px, 400, 12px, $tx-color);
  border: none;
  //padding: 24px 50px;
  letter-spacing: 0.2em;
  background-color: $bg-color;
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
  padding: 24px 60px 24px 46px;


  @if $arrow {
    &:before {
      position: absolute;
      content: url("../../svgIcons/arrow.svg");
      top: 20px;
      right: 34px;
      width: 20px;
      height: 20px;
      transition: all 0.3s;
    }
    &:hover:before {
      right: 25px;
    }
    &:hover {
      background-color: $black-bg;
    }


  } @else {
    &:before {
      position: absolute;
      content: url("../../svgIcons/arrowBlack.svg");
      top: 20px;
      right: 34px;
      width: 20px;
      height: 20px;
      transition: all 0.3s;

    }
    &:hover {
      background-color: $gray-bg;
    }
    &:hover:before {
      right: 25px;
    }
  }

}