@import "colors";

@mixin Text($font-size: 14px, $font-weight: 400, $line-height:19.92px,$color:$gray) {
  font-family: TT Hoves;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  text-align: left;
  color: $color;
}