@import "colors";

@mixin Title($font-size: 64px,
 $font-weight: 300,
 $line-height:64px, $color:$gray-light) {
  font-family: TT Hoves;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  text-align: left;
  color: $color;
}