@import "../../general/colors";
@import "../../general/text";
@import "../../general/title";
@import "../../general/button";


.contact {
  padding-top: 120px;
}

.contact-title {
  @include Title();
  margin-bottom: 22px;
}

.contact-us {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.company-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}


.company-input {
  background-color: $gray-bg;
  color: $gray-input-text;
  border: none;
  padding: 14px 21px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.contact-message {
  margin-left: 40px;
  @include Text(14px,400,17.43px);
  letter-spacing: 0.03em;
  max-width: 330px;
  margin-top: 12px;
  margin-bottom: 22px;
}


.company-btn {
  @include Button($bg-color: $gray, $tx-color: $white, $arrow: true);
}