@import "../../general/colors";
@import "../../general/text";
@import "../../general/title";
@import "../../general/button";

.home-section {
    display: flex;
   justify-content: space-between;
}


.home-title {
  @include Title();
  margin-top: 336px;

  &--sub {
    @include Title(64px,700,64px,$color: $gray);
  }
}

.home-buttons {
  display: flex;
  margin-top: 90px;
}

.home-btn {
  padding: 15px;
  border: 1px solid $gray-trans;
  background-color: $white;
  cursor: pointer;
  transition: all 0.3s;

  &--left {
    transform: rotate(180deg);
  }

  &--active {
    background-color: $gray-trans;
  }

  &:hover {
    transform: scale(1.1);
  }

  &:not(:first-child) {
    margin-left: 16px;
  }
}

.home-count {
  display: flex;
  margin-top: 90px;
  width: 120px;
  justify-content: space-between;
}

.count {
  @include Text(24px,400,24px,$gray-light);
}

.count-row {
  border-bottom: 2px solid $gray-light;
  width: 43px;
  position: relative;
  top: 4px;
  right: -10px;
  transform: rotate(125deg);
}

.home-img-box {
  position: relative;
}

.home-img-btn {
  @include Button();
  position: absolute;
  bottom: 0;
  left: 0;
}