@import "../../general/colors";
@import "../../general/text";
@import "../../general/title";
@import "../../general/button";

.company {
  display: flex;
  background-color: $gray-light-bg;
  padding: 30px 70px;
  max-height: 435px;
  margin-top: 120px;
  box-sizing: border-box;
}

.company-images {
  display: flex;
  flex-direction: column;
  position: relative;
}

.img {
  &:not(:first-child) {
    bottom: -70px;
    position: absolute;
  }
}

.company-box {
  display: flex;
  margin-left: 30px;
}

.company-box-img {
  margin-top: 30px;
  margin-right: 30px;
}
.company-title {
  @include Title(64px, 300,64px);
  margin-bottom: 20px;
}

.company-text {
  @include Text(16px,300,25px);
  margin-bottom: 80px;
}

.company-btn {
  @include Button()
}