@import "../../general/colors";
@import "../../general/text";

.header-top {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #ffffff82;
}

.header {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  margin-right: 230px;
}

.header-list {
  display: flex;
  list-style: none;
}

.header-item {
  &:not(:last-child) {
    margin-right: 60px;
  }

}

.header-link {
  text-decoration: none;
  @include Text(12px,400,12px);
  letter-spacing: 0.2em;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.3s;
  cursor: pointer;


  &:hover {
    border-bottom: 1px solid $gray;
  }
}