@import "../../general/colors";
@import "../../general/text";
@import "../../general/title";
@import "../../general/button";

.projects {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
}

.projects-title {
  @include Title();
  margin-bottom: 60px;
}

.projects-box {
  display: flex;
  gap: 30px;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.projects-center-box {
  position: relative;
}

.projects-center {
  width: 570px;
  height: 255px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #333333ad;
  padding: 48px 59px;
  box-sizing: border-box;
}

.projects-center-title {
  @include Title();
  color: $white;
  max-width: 400px;
  margin-bottom: 16px;
}

.projects-center-link {
  @include Text(12px, 400, 12px, $white);
  position: relative;
  cursor: pointer;
  padding-right: 30px;
  transition: all 0.3s;


  &:before {
    position: absolute;
    content: url("svgIcons/arrow.svg");
    width: 24px;
    height: 24px;
    top: -3px;
    right: 0;
  }

  &:hover {
    transform: scale(1.2);
  }
}

.projects-btn {
  @include Button($bg-color: $gray, $tx-color: $white, $arrow: true);
  align-self: end;
  margin-top: 30px;
}